table{
    width: 70%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th{
    align-content: center;
}
th, td{
    border: 1px solid #444444;
    padding: 10px;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.back-button {
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    background-color: black;
}
